body {
  background-color: #44355b;
}

.banner {
  font-family: "Kaushan Script", cursive;
}

.menu {
  display:grid;
  place-items: center;
  color: #ffffff;
}

.filter-btn {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: #ff9505;
  margin: 0 1rem;
  cursor: pointer;
  outline: 0;
  transition: opacity 0.4s ease-out;
}
.filter-btn::after {
  content: "";
  display: flex;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ff9505;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out;
}
.filter-btn:hover::after {
  width: 100%;
}
.filter-btn:hover {
  opacity: 0.8;
  color: white;
}

/* menu items */

@media screen and (min-width: 992px) {
  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.menu-items {
  margin-top: 5rem;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-grid;
}

.item {
  display: flex;
  width: 100%;
  grid-template-columns: 25% auto;
  align-items: center;
  padding: 1rem;
  column-gap: 1rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #ffe7d9 100%);
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 16px -4px rgb(0 0 0 / 75%);
}

.image {
  padding: 0;
  margin-right: 1rem;
  box-sizing: border-box;
}

.image img {
  border-radius: 10px;
  display: block;
  width: 144px;
}

.info {
  display: block;
}

.price{
  justify-content: end;
}

.card-header {
  color: #ff9505;
}

.text {
  color: black;
  border-top: 2px solid #44355b;
  padding-top: 2px;
  font-family: "Dancing Script", cursive;
  font-size: 1.35rem;
  font-weight: 700;
}
